__pycache__/
*.pyc
.env
data/raw/
asr/data/raw/linto-hf/
data/processed/
checkpoints/
*.bin
*.pt
*.safetensors
.cache/
wandb/
*.egg-info
dist/
build/
.DS_Store
*.wav
*.mp3
*.flac
llm/sft/data/final
llm/sft/data/augmented
llm/sft/data/cleaned

*.aux
*.log
*.out
*.toc
*.lot
*.lof
*.bbl
*.blg
*.synctex.gz
*.fls
*.fdb_latexmk
*.gz
*.tfm
*.vf
*.mp
*.fot
main.pdf
PFA_report/.vscode
.vscode/*.code-workspace
.DS_Store
__pycache__/
Thumbs.db
